<section class="header">

    <div class="logo-cart">

        <div class="logo">
            <img src="../../../assets/imgs/logo.png" alt="">
        </div>

        <div class="cart">
            <img (click)="moveToCart()" src="../../../assets/imgs/cart-new.png" alt="">
            <p>{{cartItemCount}}</p>
        </div>

    </div>

    <div class="nav-bar">
        <ul>
            <!-- <li><a routerLink="/">land</a></li> -->
            <li><a routerLink="/home">חנות</a></li>
            <li><a routerLink="/"> צור קשר</a></li>
            <li><a routerLink="/"> עלינו</a></li>

        </ul>
    </div>
</section>