<section class="footer">
  <div class="part">
    <nav>
      <ul>
        <li><a routerLink="/">אודות</a></li>
        <li><a routerLink="/about">צור קשר</a></li>
        <li><a routerLink="/">תנאי שימוש</a></li>
      </ul>
    </nav>
  </div>
  <div class="part">
    <nav>
      <ul>
        <li><a routerLink="/">משלוחים</a></li>
        <li><a routerLink="/">החזרות</a></li>
        <li><a routerLink="/">תקנון</a></li>
      </ul>
    </nav>
  </div>


  <div class="part media">
    <div class="social">
      <p>חפשו אותנו ברשתות החברתיות</p>

      <div class="links">
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Twitter</a>
        <a href="#" target="_blank">Instagram</a>
      </div>
    </div>

    <div class="logo">
      <img src="../../../assets/imgs/logo.png" alt="Logo" />
    </div>
  </div>
</section>
