
.footer {
  direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4d4d;
    color: white;
    padding: 10px;
  }
  
  .part {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
.media{
  display: flex;
}
  
.social{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

  a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
  }

  .logo{
    img{
      height: 5rem;
    }
  }