<!-- <div class="grid-container">
    <div class="logo">
        <img src="../../assets/imgs/logo-new.png" alt="">
    </div>

    <div class="left-side">
        <div class="hero-img">
            <img src="../../assets/imgs/hero2.png" alt="">
        </div>
    </div>
    <div class="right-side">
        <div class="h-text">
            <h1>כול הדגמים</h1>
            <h2>כול הצבעים</h2>
            <h3>כול המידות</h3>
        </div>
        <div class="text">
            המקום הנכון למצוא את הבגד ים הנכון !
        </div>
    </div>
    <div class="footer">
        <button>לחנות</button>
    </div>
  </div> -->

<div class="grid-container">
  <div class="logo">
    <img src="../../assets/imgs/logo-new.png" alt="" />
  </div>

  <div class="content">
    <div class="left-side">
      <div class="hero-img anim">
        <img class="" src="../../assets/imgs/hero2.png" alt="" />
      </div>
    </div>
    <div class="right-side rtl">
      <div class="h-text ">
        <h1>כול הדגמים</h1>
        <h2>כול הצבעים</h2>
        <h3>כול המידות</h3>
      </div>
      <div class="text">המקום הנכון למצוא את הבגד ים הנכון !</div>
    </div>
  </div>
  <div class="action rtl">
    <button>לחנות</button>
  </div>

</div>
